.swiper img{
  width:3.75rem;
  height:3rem;
  display:block;
}
.flashSale{
  background: red;
  width: 100%;
}
.flashSale img{
  width: .48rem;
  height: .12rem;
  padding-left: .1rem;
}

