.clear:after{ content:""; display: block; clear:both;}
.block{
    float: left;
    width:50%;
    box-sizing:border-box;
    padding:0 .03rem 0 .03rem;
}
.imgs{
    width: 100%;
}
.title{ 
    width:1.5rem;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.price{
    color: red;
}
