body{
  font-size:.16rem;
}
ul{
  list-style: none;
}
*{
  margin:0;
  padding:0
}
a{
  text-decoration: none;
  color:black;
}
html{
  background:#f8f8f8;
}
h1,h2,h3,h4,h5,h6{
  font-size:.16rem;
  font-weight: normal
}
.l{
  float:left
}
.r{
  float:right
}
.clear::after{
  content:"";
  display:block;
  clear:both
}