.user_name_input{
    width: 100%;
    height: 0.5rem;
    font-size: 0.16rem;
    outline:none;
    border:none;
    background:white
}
.login_in{
    width:3rem;
    height:.4rem;
    background:#FF4965;
    font-size:.16rem;
    color:white;
    text-align:center;
    line-height:.4rem;
    margin:.2rem auto 0 auto;
}